doctype html
head
  include templates/includes/css
html
  body
    article
      include templates/includes/header
      include:md templates/welcome.markdown 
      include templates/includes/footer
    include templates/includes/scripts
